.truck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.truck > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 123px;
}

.truck > .top > .left {
  width: 290px;
  height: 100%;
}

.truck > .top > .left > .cart-trunk {
  position: relative;
  width: 273px;
  height: 115px;
  left: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.truck > .top > .left > .cart-trunk > .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 121px;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, white), color-stop(60%, #ffd100));
  background: linear-gradient(90deg, white 60%, #ffd100 60%);
}

.truck > .top > .left > .cart-trunk > .left > div {
  width: 100%;
  height: 20px;
  background-color: #ffd100;
}

.truck > .top > .left > .cart-trunk > .left > div:nth-child(1) {
  width: 97px;
}

.truck > .top > .left > .cart-trunk > .left > div:nth-child(4) {
  width: 85px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.truck > .top > .left > .cart-trunk > .left > div:nth-child(5) {
  width: 87px;
}

.truck > .top > .left > .cart-trunk > .left > div:nth-child(odd) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.truck > .top > .left > .cart-trunk > .left > div:nth-child(even) {
  position: relative;
  background-color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  right: -6px;
}

.truck > .top > .left > .cart-trunk > .right {
  background-color: #ffd100;
  width: 152px;
  height: 100%;
  border-top-right-radius: 15px;
}

.truck > .top > .left > .cart-line {
  position: relative;
  width: 165px;
  height: 113px;
  top: -105px;
  left: 125px;
  border-style: solid;
  border-color: #4c4a43;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-right-radius: 15px;
}

.truck > .top > .right {
  width: 190px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.truck > .top > .right > .cart-horse {
  width: 110px;
  height: 108px;
  margin-left: 7px;
}

.truck > .top > .right > .cart-horse > .top {
  height: 66px;
  width: 100%;
  overflow: hidden;
  display: block;
}

.truck > .top > .right > .cart-horse > .top > .rounded {
  position: relative;
  width: 90px;
  height: 66px;
  background-color: #ffd100;
  border: 3px solid #4c4a43;
  border-bottom-width: 0;
  border-radius: 15px 15px 0 0;
}

.truck > .top > .right > .cart-horse > .top > .tilted {
  position: relative;
  margin-top: -54px;
  margin-left: 40px;
  width: 60px;
  height: 55px;
  background-color: #ffd100;
  -webkit-transform: skewX(20.5deg);
          transform: skewX(20.5deg);
  border-right: 3px solid #4c4a43;
}

.truck > .top > .right > .cart-horse > .top > .window-left {
  position: relative;
  background-color: #fff;
  width: 30px;
  height: 50px;
  margin-top: -55px;
  margin-left: 15px;
  border: 3px solid #4c4a43;
  border-radius: 5px;
}

.truck > .top > .right > .cart-horse > .top > .window-right {
  position: relative;
  margin-top: -50px;
  margin-left: 48px;
  height: 50px;
  width: 47px;
}

.truck > .top > .right > .cart-horse > .top > .window-right > .top {
  height: 45px;
  width: 100%;
  overflow: hidden;
  display: block;
}

.truck > .top > .right > .cart-horse > .top > .window-right > .top > .rounded {
  position: relative;
  width: 35px;
  height: 45px;
  background-color: #fff;
  border: 3px solid #4c4a43;
  border-bottom-width: 0;
  border-radius: 5px 15px 0 0;
}

.truck > .top > .right > .cart-horse > .top > .window-right > .top > .tilted {
  position: relative;
  margin-top: -37px;
  margin-left: 13px;
  width: 30px;
  height: 52px;
  background-color: #fff;
  -webkit-transform: skewX(21deg);
          transform: skewX(21deg);
  border-right: 3px solid #4c4a43;
  z-index: 99999;
}

.truck > .top > .right > .cart-horse > .top > .window-right > .bottom {
  height: 5px;
  width: 100%;
  border: 3px solid #4c4a43;
  border-top-width: 0px;
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.truck > .top > .right > .cart-horse > .bottom {
  height: 42px;
  width: 100%;
  border: 3px solid #4c4a43;
  border-top-width: 0;
  background-color: #ffd100;
}

.truck > .top > .right > .cart-horse > .bottom .logo-background {
  position: relative;
  width: 35px;
  height: 25px;
  top: 4px;
  margin-left: 50px;
  border-radius: 50%;
  background-color: #2b3372;
}

.truck > .top > .right > .cart-horse > .bottom .logo {
  position: relative;
  background-color: #ffd100;
  width: 35px;
  height: 25px;
  top: -22px;
  margin-left: 50px;
  border-radius: 50%;
  border: #2b3372 solid 2px;
}

.truck > .bottom {
  background-color: aqua;
  width: 100%;
  height: 47px;
}
/*# sourceMappingURL=truck.css.map */