:root {
    --backgrond-color-truck: #ffd100;
    --color-text: #444445;
    --color-line: #4c4a43;
    --width-line: 2px;
}

.cart {
    position: relative;
    width: 165px;
    height: 115px;
    top: 10px;
    left: 40px;
    border-style: solid;
    border-color: var(--color-line);
    border-top-width: var(--width-line);
    border-right-width: var(--width-line);
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-right-radius: 10%;
}