@import 'variable.scss';
@import 'mixin.scss';
.truck {
    position: relative;
    display: flex;
    flex-direction: column;
    @if $enable-animation {
        // left: -410px;
        // @include animation(walk)
    }
    >.top {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 123px;
        >.left {
            width: 290px;
            height: 100%;
            >.cart-trunk {
                position: relative;
                width: 273px;
                height: 115px;
                left: 7px;
                display: flex;
                >.text {
                    position: absolute;
                    color: $color-text;
                    height: 75px;
                    width: 175px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    text-transform: uppercase;
                    font-family: 'Raleway', sans-serif;
                    font-size: 30px;
                    line-height: 40px;
                    margin-left: 38px;
                    >.leftToRight {
                        overflow: hidden;
                        @if $enable-animation {
                            width: 0%;
                            @include animation(text-show-left-to-right);
                        }
                    }
                    >.rightToLeft {
                        overflow: hidden;
                        display: flex;
                        >.cut-mask {
                            width: 273px;
                            height: 40px;
                            background: #fff;
                            @if $enable-animation {
                                margin-left: -273px;
                                @include animation(text-show-right-to-left);
                            }
                        }
                    }
                }
                >.left {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    height: 114px;
                    width: 121px;
                    @if $enable-animation {
                        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 60%, $backgrond-color-truck 60%);
                        @include animation(color-cart);
                    }
                    >div {
                        width: 100%;
                        height: 20px;
                    }
                    >div:nth-child(1) {
                        width: 97px;
                    }
                    >div:nth-child(4) {
                        width: 80px;
                        align-self: flex-start;
                    }
                    >div:nth-child(5) {
                        width: 87px;
                    }
                    >div:nth-child(odd) {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                        @if $enable-animation {
                            background: linear-gradient($backgrond-color-truck);
                            @include animation(color-cart);
                        }
                    }
                    >div:nth-child(even) {
                        position: relative;
                        background: $color-background-screen;
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                        right: -6px;
                    }
                }
                >.right {
                    @if $enable-animation {
                        background: linear-gradient($backgrond-color-truck);
                        @include animation(color-cart);
                    }
                    width: 152px;
                    height: 114px;
                    border-top-right-radius: 15px;
                }
            }
            >.cart-line {
                position: relative;
                width: 165px;
                height: 113px;
                top: -105px;
                left: 125px;
                border-style: solid;
                border-color: $color-line;
                border-top-width: $line-border;
                border-right-width: $line-border;
                border-bottom-width: 0px;
                border-left-width: 0px;
                border-top-right-radius: 15px;
            }
        }
        >.right {
            width: 190px;
            height: 100%;
            display: flex;
            align-items: flex-end;
            >.cart-horse {
                width: 110px;
                height: 108px;
                margin-left: 7px;
                >.top {
                    height: 66px;
                    width: 100%;
                    overflow: hidden;
                    display: block;
                    >.rounded {
                        position: relative;
                        width: 90px;
                        height: 66px;
                        border: $line-border solid $color-line;
                        border-bottom-width: 0;
                        border-radius: 15px 15px 0 0;
                        background-image: linear-gradient($backgrond-color-truck);
                        @if $enable-animation {
                            @include animation(color-horse);
                        }
                    }
                    >.square {
                        position: relative;
                        margin-top: -54px;
                        margin-left: 15px;
                        width: 70px;
                        height: 55px;
                        background-image: linear-gradient($backgrond-color-truck);
                        @if $enable-animation {
                            @include animation(color-horse);
                        }
                    }
                    >.tilted {
                        position: relative;
                        margin-top: -54px;
                        margin-left: 30px;
                        width: 70px;
                        height: 55px;
                        transform: skewX(20.5deg);
                        border-right: $line-border solid $color-line;
                        background-color: #fff;
                        background-image: linear-gradient($backgrond-color-truck);
                        @if $enable-animation {
                            @include animation(color-horse);
                        }
                    }
                    >.window-left {
                        position: relative;
                        background-color: #fff;
                        width: 30px;
                        height: 50px;
                        margin-top: -55px;
                        margin-left: 15px;
                        border: $line-border solid $color-line;
                        border-radius: 5px;
                    }
                    >.window-right {
                        position: relative;
                        margin-top: -50px;
                        margin-left: 48px;
                        height: 50px;
                        width: 47px;
                        >.top {
                            height: 45px;
                            width: 100%;
                            overflow: hidden;
                            display: block;
                            >.rounded {
                                position: relative;
                                width: 35px;
                                height: 45px;
                                background-color: #fff;
                                border: $line-border solid $color-line;
                                border-bottom-width: 0;
                                border-radius: 5px 15px 0 0;
                            }
                            >.tilted {
                                position: relative;
                                margin-top: -37px;
                                margin-left: 13px;
                                width: 30px;
                                height: 52px;
                                background-color: #fff;
                                transform: skewX(21deg);
                                border-right: $line-border solid $color-line;
                                z-index: 99999;
                            }
                        }
                        >.bottom {
                            height: 5px;
                            width: 100%;
                            border: $line-border solid $color-line;
                            border-top-width: 0px;
                            background-color: #fff;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }
                    }
                }
                >.bottom {
                    height: 56px;
                    width: 100%;
                    border: $line-border solid $color-line;
                    border-top-width: 0;
                    background: linear-gradient(180deg, $backgrond-color-truck 90%, transparent 10%);
                    @if $enable-animation {
                        @include animation(color-horse);
                    }
                    >.logo-all {
                        @if $enable-animation {
                            @include animation(show-logo)
                        }
                        >.logo-background {
                            position: relative;
                            width: 35px;
                            height: 25px;
                            top: 4px;
                            margin-left: 50px;
                            border-radius: 50%;
                            background-color: #2b3372;
                        }
                        >.logo {
                            position: relative;
                            background-color: $backgrond-color-truck;
                            width: 35px;
                            height: 25px;
                            top: -22px;
                            margin-left: 50px;
                            border-radius: 50%;
                            border: #2b3372 solid 2px;
                        }
                    }
                }
            }
        }
    }
    >.bottom {
        width: 100%;
        height: 47px;
        >.chassi {
            position: relative;
            width: 275px;
            height: 20px;
            border: $line-border solid $color-line;
            border-radius: 5px;
            margin-left: 131px;
            display: flex;
            >.fenders {
                background-color: $color-background-screen;
                width: 56px;
                height: 56px;
                border-radius: 50%;
                margin-top: -12px;
                border: $line-border solid $color-line;
                >.wheel {
                    position: relative;
                    background-color: $color-background-screen;
                    width: 46px;
                    height: 46px;
                    border-radius: 50%;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 999;
                    border: $line-border solid $color-line;
                    >.hubcap {
                        position: relative;
                        background-color: $color-background-screen;
                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border: $line-border solid $color-line;
                    }
                }
            }
            >.fenders:nth-child(1)::before {
                content: "";
                position: absolute;
                background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15px, transparent 0%);
                width: 57px;
                height: 57px;
                margin-left: -3px;
                margin-top: -18px;
                border-radius: 50%;
            }
            >.fenders::after {
                content: "";
                position: absolute;
                background-color: #fff;
                width: 57px;
                height: 27px;
                margin-left: -3px;
                margin-top: -20px;
            }
            >.fenders:nth-child(1) {
                margin-left: 22px;
            }
            >.fenders:nth-child(2) {
                margin-left: 95px;
            }
        }
    }
}