$backgrond-color-truck: #ffd100;
$color-text: #444445;
$color-line: #4c4a43;
$color-background-screen: #fff;
$line-border: 3px;
$animation-delay-initial: 0.12s;
$time-animation: 2.5s;
$enable-animation: false;