@keyframes color-horse {
    0%,
    10% {
        background-position-x: 110px;
        background-repeat: no-repeat;
    }
    18% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 0px;
        background-repeat: no-repeat;
    }
}

@keyframes color-cart {
    0%,
    10% {
        background-position-x: 1000px;
        background-repeat: no-repeat;
    }
    22% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 0px;
        background-repeat: no-repeat;
    }
}